@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto+Mono:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: rgb(73, 73, 54);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 800px;
    width: 800px;
    background-color: #ecebeb;
}

header,
header>img,
main {
    height: 100%;
}

h1,
h2 {
    font-family: 'Fuggles', cursive;
}

h1 {
    font-size: 6rem;
    color: rgb(133, 114, 67);
}

h2 {
    font-size: 3rem;
    align-self: end;
    padding-left: 0.5vw;
    color: rgb(73, 73, 54);
}

h3 {
    color: rgb(133, 114, 67);
    font-size: 1.5rem;
    margin: 20px 0;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    background-image: url(../img/portdeck-550x1280.jpg);
}

.logo {
    width: 100%;
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: rgba(173, 166, 152, 0.5);
}
main,
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.logo img {
    height: 6rem;
}

.logoText {
    display: flex;
}

.signup,
.create {
    padding: 50px;;
}

form {
    display: flex;
    flex-direction: column;
    max-height: 350px;
    flex: 1;
    justify-content: space-evenly;
    padding: 0px 50px 50px 50px;
    background-color: #fff;
}

input {
    width: 20vw;
    height: 2rem;
    box-shadow: 2px 2px 10px 2px  rgb(133, 114, 67, 0.6);
    border-radius: 0.5rem;
    border: 1px solid  rgb(73, 73, 54);
}

label {
    padding: 5px;
}
.name,
.contact,
.pass {
    display: flex;
    gap: 5vw;
    flex: 1;
}

.firstName,
.lastName,
.email,
.phone,
.psw,
.pswConf {
    display: flex;
    flex-direction: column;
}

.create {
    display: flex;
    flex-direction: column;
    gap: 20px
}

button {
    width: 15vw;
    background-color: rgb(133, 114, 67, 0.6);
    color: #fff;
    box-shadow: 2px 2px 10px 2px  rgb(133, 114, 67, 0.6);
    border-radius: 0.5rem;
    border: 1px solid  rgb(73, 73, 54);
    padding: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #fff;
    color: rgb(133, 114, 67, 0.6);
}

a {
    text-decoration: none;
    font-weight: 600;
}